body {
    padding: 0;
    margin: 0;
    background-color: lightblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    text-align: center;
}

#newBtn {
    display: flex;
    justify-content: center;
}

#popUpCard {
    background-color: whitesmoke;
    position: fixed;
    margin-left: 42%;
    margin-top: 20px;
    display: flex;
    height: 200px;
    width: 300px;
    justify-content: center;
    border-radius: 8px;
    border-style: solid;
    display: none;
}

#form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}


#new-book-button {
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#booksArray {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#addBtn {
    font-size: 16px;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid black;
    border-radius: 25px;
    height: 300px;
    width: 250px;
    padding: 15px;
    margin: 20px;
    background-color: #fca400;
    justify-content: space-evenly;
}

#removeBtn {
    padding: 12px;
    border-radius: 8px;
}